@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  .active-link{
    @apply bg-yellow-500 p-4 shadow-md text-white
  }
}
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.complex_list {
  background-color: #2bd;
  padding: 4px;
  font-size: 20px;
}

ul.complex_list {
  display: flex;
  text-align: right;
}

.complex_list li {
  font: 0.75em arial;
  list-style: none;
}

.complex_list li a {
  text-decoration: none;
  margin: 2px;
  color: #fff;
}

.complex_list li a:hover {
  text-decoration: underline;
  color: blue;
}

.header {
  display: flex;
  justify-content: space-around;
}